sqlmodel
typing-extensions
jiwer
gradio
fastapi
sqlalchemy
loguru
pytest
httpx
python-dotenv
psycopg2
alembic
psycopg2-binary
pymysql
passlib[bcrypt]
python-jose[cryptography]
pytest-cov
pydantic[email]
pytest-asyncio

